<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa3YSNh3ITcfvByfprKkFOv0rPGhCwYCc</string>
	<key>GCM_SENDER_ID</key>
	<string>844479386983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexiptel.softphone</string>
	<key>PROJECT_ID</key>
	<string>nexiptel-softphone</string>
	<key>STORAGE_BUCKET</key>
	<string>nexiptel-softphone.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844479386983:ios:60b03f087e5b6d40800bc2</string>
</dict>
</plist>